/* 
Project : One Page
Author  : Buse Kaban
Date    : 14/June/2023
Version : v.1
*/

/* Root */
/* Common Property */
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

/* html{} */

body {
    font-family: 'Manrope', sans-serif;
    line-height: 1.2;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

img:hover {
    opacity: 0.98;
    box-shadow: 1px 1px 4px 1px red;
    transition: all 2s;
    cursor: pointer;
}

i {
    font-size: 1.5rem;
}

.my_clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.fSize1 {
    font-size: 1rem;
}

.fSize2 {
    font-size: 2rem;
}

.fSize3 {
    font-size: 3rem;
}

.fSize4 {
    font-size: 4rem;
}

.line-clamp5 {
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

/*HEADER*/

header {
    background-image: url("./img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    height: 80vh;
    padding-top: 4rem;
}